.dansk {
    grid-column-start: 2;
    grid-column-end: 3;
    right: 100px;
}

.danskflag {
    background-color: #a70000;
    width: 750px;
    height: 450px;
    position: relative;
    border-radius: 5px;
}

.danskflag::before {
    background-color: #ffffff;
    content: "";
    height: 15%;
    left: 0;
    margin-top: -5%;
    position: absolute;
    top: 50%;
    width: 100%;
}
.danskflag::after {
    background-color: #ffffff;
    content: "";
    height: 100%;
    left: 30%;
    margin-left: -5%;
    position: absolute;
    top: 0;
    width: 9%;
}
