.dansk {
    grid-row-start: 2;
    grid-row-end: 3;

}

.danskflag {
    background-color: #a70000;
    width: 750px;
    height: 450px;
    position: relative;
    border-radius: 5px;
}

.danskflag::before {
    background-color: #ffffff;
    content: "";
    height: 15%;
    left: 0;
    margin-top: -5%;
    position: absolute;
    top: 50%;
    width: 100%;
}
.danskflag::after {
    background-color: #ffffff;
    content: "";
    height: 100%;
    left: 30%;
    margin-left: -5%;
    position: absolute;
    top: 0;
    width: 9%;
}

.danskbox {
    position: relative;
    height: 100px;
    width: 400px;
    background-color: #a70000;
    color: #ffffff;
    z-index: 5;
    top: -180px;
    left: 280px;
}