
.danskflag {
    background-color: #a70000;
    width: 500px;
    height: 300px;
    position: relative;
    border-radius: 5px;
    top: 40px;
}

.danskflag::before {
    background-color: #ffffff;
    content: "";
    height: 15%;
    left: 0;
    margin-top: -5%;
    position: absolute;
    top: 50%;
    width: 100%;
}
.danskflag::after {
    background-color: #ffffff;
    content: "";
    height: 100%;
    left: 30%;
    margin-left: -5%;
    position: absolute;
    top: 0;
    width: 9%;
}

.danskbox {
    position: relative;
    height: 100px;
    width: 300px;
    background-color: #a70000;
    color: #ffffff;
    z-index: 5;
    top: -80px;
    left: 190px;
}