.islensku {
    grid-row-start: 2;
    grid-column-end: 3;
    margin-right: 100px;
}
  
  .islenskuflag {
    position: relative;
    width: 750px;
    height: 450px;
    background-color: #34495e;
    border-radius: 5px;
  }
  
  .islenskuflag .blue {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .islenskuflag .blue:before, .islenskuflag .blue:after {
    position: absolute;
    content: '';
    background-color: #a70000;
  }
  .islenskuflag .blue:before {
    bottom: 0;
    left: 200px;
    width: 40px;
    height: 100%;
  }
  .islenskuflag .blue:after {
    top: 50%;
    right: 0;
    width: 100%;
    height: 40px;
    transform: translateY(-50%);
  }
  .islenskuflag .white {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .islenskuflag .white:before, .islenskuflag .white:after {
    position: absolute;
    content: '';
    background-color: #fff;
  }
  .islenskuflag .white:before {
    bottom: 0;
    left: 180px;
    width: 80px;
    height: 100%;
  }
  .islenskuflag .white:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 80px;
    transform: translateY(-50%);
  }
  