
.svenska {
 grid-column-start: 1;
 grid-column-end: 2;
 margin-left: 100px;
}

.svenskaflag {
    background-color: #006AA7;
    width: 750px;
    height: 450px;
    position: relative;
        border-radius: 5px;
}

.svenskaflag::before {
    background-color: #FECC00;
    content: "";
    height: 15%;
    left: 0;
    margin-top: -5%;
    position: absolute;
    top: 50%;
    width: 100%;

}
.svenskaflag::after {
    background-color: #FECC00;
    content: "";
    height: 100%;
    left: 30%;
    margin-left: -5%;
    position: absolute;
    top: 0;
    width: 9%;

}

.swedishBox {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: black;
    color: white;
    z-index: 5;
}