


.svenskaflag {
    background-color: #006AA7;
    width: 500px;
    height: 300px;
    position: relative;
    border-radius: 5px;
    top: 40px;
}

.svenskaflag::before {
    background-color: #FECC00;
    content: "";
    height: 15%;
    left: 0;
    margin-top: -5%;
    position: absolute;
    top: 50%;
    width: 100%;

}
.svenskaflag::after {
    background-color: #FECC00;
    content: "";
    height: 100%;
    left: 30%;
    margin-left: -5%;
    position: absolute;
    top: 0;
    width: 9%;

}

.svenskabox {
    position: relative;
    height: 100px;
    width: 320px;
    background-color: #006AA7;
    color: #FECC00;
    z-index: 5;
    top: -80px;
    left: 180px;
}